@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #c9cdd2 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c9cdd2;
  border-radius: 999px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}